<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-Dropzone Demo</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px;') }}
</head>
<body>
{{ dropzone.create('/') }}
<button id="upload">Upload</button>

{{ dropzone.load_js() }}
{{ dropzone.config() }}

<h3>Always open in a new Incognito Window for best results</h3>
<h4>For downloading : pyimgcompress.herokuapp.com/d?width=(your width)&height=(your height)</h4>
</body>
</html>
